{<<"app">>,<<"base16">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Base16 encoding and decoding">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/base16.app.src">>,<<"src/base16.erl">>]}.
{<<"licenses">>,[<<"MIT">>,<<"GPL (for tests)">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/esl/base16">>}]}.
{<<"name">>,<<"base16">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"2.0.1">>}.
