{<<"app">>,<<"lhttpc">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Lightweight HTTP Client">>}.
{<<"files">>,
 [<<"CHANGELOG">>,<<"README.md">>,<<"include">>,<<"include/lhttpc.hrl">>,
  <<"include/lhttpc_types.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src">>,<<"src/lhttpc.app.src">>,<<"src/lhttpc.erl">>,
  <<"src/lhttpc_client.erl">>,<<"src/lhttpc_lib.erl">>,
  <<"src/lhttpc_manager.erl">>,<<"src/lhttpc_sock.erl">>,
  <<"src/lhttpc_sup.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/erlcloud/lhttpc">>}]}.
{<<"name">>,<<"lhttpc">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.7.1">>}.
