{<<"app">>,<<"erlcloud">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"AWS APIs library for Erlang">>}.
{<<"files">>,
 [<<"README.md">>,<<"include">>,<<"include/erlcloud.hrl">>,
  <<"include/erlcloud_as.hrl">>,<<"include/erlcloud_aws.hrl">>,
  <<"include/erlcloud_cloudformation.hrl">>,<<"include/erlcloud_ddb.hrl">>,
  <<"include/erlcloud_ddb2.hrl">>,<<"include/erlcloud_ddb_streams.hrl">>,
  <<"include/erlcloud_ec2.hrl">>,<<"include/erlcloud_ecs.hrl">>,
  <<"include/erlcloud_iam.hrl">>,<<"include/erlcloud_lambda.hrl">>,
  <<"include/erlcloud_mon.hrl">>,<<"include/erlcloud_mturk.hrl">>,
  <<"include/erlcloud_ssm.hrl">>,<<"include/erlcloud_waf.hrl">>,
  <<"include/erlcloud_workspaces.hrl">>,<<"include/erlcloud_xmerl.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src">>,<<"src/erlcloud.app.src">>,
  <<"src/erlcloud.erl">>,<<"src/erlcloud_access_analyzer.erl">>,
  <<"src/erlcloud_application_autoscaler.erl">>,<<"src/erlcloud_as.erl">>,
  <<"src/erlcloud_athena.erl">>,<<"src/erlcloud_autoscaling.erl">>,
  <<"src/erlcloud_aws.erl">>,<<"src/erlcloud_cloudformation.erl">>,
  <<"src/erlcloud_cloudfront.erl">>,<<"src/erlcloud_cloudsearch.erl">>,
  <<"src/erlcloud_cloudtrail.erl">>,<<"src/erlcloud_cloudwatch_logs.erl">>,
  <<"src/erlcloud_cognito_user_pools.erl">>,<<"src/erlcloud_config.erl">>,
  <<"src/erlcloud_cur.erl">>,<<"src/erlcloud_ddb.erl">>,
  <<"src/erlcloud_ddb1.erl">>,<<"src/erlcloud_ddb2.erl">>,
  <<"src/erlcloud_ddb_impl.erl">>,<<"src/erlcloud_ddb_streams.erl">>,
  <<"src/erlcloud_ddb_util.erl">>,<<"src/erlcloud_directconnect.erl">>,
  <<"src/erlcloud_ec2.erl">>,<<"src/erlcloud_ec2_meta.erl">>,
  <<"src/erlcloud_ecs.erl">>,<<"src/erlcloud_ecs_container_credentials.erl">>,
  <<"src/erlcloud_efs.erl">>,<<"src/erlcloud_elb.erl">>,
  <<"src/erlcloud_emr.erl">>,<<"src/erlcloud_glue.erl">>,
  <<"src/erlcloud_guardduty.erl">>,<<"src/erlcloud_http.erl">>,
  <<"src/erlcloud_httpc.erl">>,<<"src/erlcloud_iam.erl">>,
  <<"src/erlcloud_inspector.erl">>,<<"src/erlcloud_json.erl">>,
  <<"src/erlcloud_kinesis.erl">>,<<"src/erlcloud_kinesis_impl.erl">>,
  <<"src/erlcloud_kms.erl">>,<<"src/erlcloud_lambda.erl">>,
  <<"src/erlcloud_mes.erl">>,<<"src/erlcloud_mms.erl">>,
  <<"src/erlcloud_mon.erl">>,<<"src/erlcloud_mturk.erl">>,
  <<"src/erlcloud_rds.erl">>,<<"src/erlcloud_redshift.erl">>,
  <<"src/erlcloud_retry.erl">>,<<"src/erlcloud_route53.erl">>,
  <<"src/erlcloud_s3.erl">>,<<"src/erlcloud_sdb.erl">>,
  <<"src/erlcloud_securityhub.erl">>,<<"src/erlcloud_ses.erl">>,
  <<"src/erlcloud_sm.erl">>,<<"src/erlcloud_sns.erl">>,
  <<"src/erlcloud_sqs.erl">>,<<"src/erlcloud_ssm.erl">>,
  <<"src/erlcloud_states.erl">>,<<"src/erlcloud_sts.erl">>,
  <<"src/erlcloud_util.erl">>,<<"src/erlcloud_waf.erl">>,
  <<"src/erlcloud_workspaces.erl">>,<<"src/erlcloud_xml.erl">>]}.
{<<"licenses">>,[<<"BSD-2-Clause">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/erlcloud/erlcloud">>}]}.
{<<"name">>,<<"erlcloud">>}.
{<<"requirements">>,
 [{<<"base16">>,
   [{<<"app">>,<<"base16">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.0.1">>}]},
  {<<"eini">>,
   [{<<"app">>,<<"eini">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.2.9">>}]},
  {<<"jsx">>,
   [{<<"app">>,<<"jsx">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.11.0">>}]},
  {<<"lhttpc">>,
   [{<<"app">>,<<"lhttpc">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.7.1">>}]}]}.
{<<"version">>,<<"3.8.3">>}.
