{erl_opts, [
	debug_info,
    {i, "./_build/default/plugins/gpb/include"},
	{i, "include"}
]}.

{deps, [
    {erlcloud, "3.8.3"},
    {ranch, "2.2.0"}
]}.

{plugins, [
    { rebar3_gpb_plugin, "2.23.2" }
]}.

{gpb_opts, [
  {i, "proto"},                % path/to/proto_dir
  {module_name_suffix, "_pb"}, % Naming convention, unless you have a good reason just go with it.
  %{o, "path/to/out_dir"},     % both .erl and .hrl are generated here, we will define the directories below instead.
  {o_erl, "src"},              % Where the generated source is placed
  {o_hrl, "include"},          % Where the generated include files are placed
  strings_as_binaries,
  type_specs
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{relx, [
    {release,
        {dynamodb_service, {git, short}},
        [dynamodb_service, gpb, sasl, runtime_tools]},

    {sys_config_src, "config/sys_dev.config.src"},

    {dev_mode, true},
    {include_erts, false},

    {include_src, false},
    {debug_info, strip}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [
            {sys_config_src, "config/sys_prod.config.src"},

            {dev_mode, false},
            {include_erts, true},

            {include_src, false},
            {debug_info, strip}
        ]}
    ]},
    {test, [
        {deps, [meck]},
         {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]}
]}.

{shell, [
    {config, "config/sys_dev.config.src"},
    {apps, [dynamodb_service]}
]}.
